Source: dummy-package
Section: net
Priority: optional
Maintainer: Python Applications Packaging Team <python-apps-team@lists.alioth.debian.org>
Uploaders: b <b@debian.org>,
           a <a@debian.org>
