Source: dummy-package
Priority: optional
Maintainer: Maintainer <m@debian.org>
Description: dummy-package description
Build-Depends:
 debhelper (>= 11),

Package: dummy-binary-package
Priority: important
Description: dummy-binary-package description
Depends:
 debhelper (>= 11),

Package: dummy-binary-package2
Priority: standard
Description: dummy-binary-package2 description
Depends:
 debhelper (>= 11)
