Source: dummy-package
Section: net
Priority: optional
Maintainer: M <m@debian.org>
Uploaders: Python Applications Packaging Team <python-apps-team@lists.alioth.debian.org>,
           a <a@debian.org>
