Source: dummy-package
Priority: optional
Description: dummy-package description
Vcs-Svn: svn://dummy-url/
Vcs-Browser: https://salsa.debian.org/debian/project
Vcs-Git: https://salsa.debian.org/debian/project.git

Package: dummy-binary-package
Description: dummy-binary-package description
